# MAC files
.DS_Store

# History files
.Rhistory
.Rapp.history
.Rproj.user
.RData

# large results that can't push to GH
results/cluster_results/

# internal
sandbox/
figures/
tables/
vcfdata/

# Data files I'm generating
.drake


# knitr and R markdown default cache directories
/*_cache/
/cache/
*png

# Temporary files created by R markdown
*.utf8.md
*.knit.md
*unnamed-chunk*

